openapi: 3.0.3
info:
  title: MebelPlace Mobile App API
  description: |
    MebelPlace Mobile Application API - мобильный клиент для платформы торговли мебелью
    
    ## Основные возможности:
    - Регистрация и аутентификация пользователей
    - Просмотр видео с мебелью и HLS streaming
    - Система заявок и предложений
    - Чат и голосовые комнаты
    - AR/3D модели мебели
    - Геймификация и достижения
    - Аналитика и модерация
    - Интеграции с платежными системами
    
    ## Основные возможности:
    - Регистрация и аутентификация пользователей
    - Загрузка и просмотр видео с мебелью
    - HLS (HTTP Live Streaming) для адаптивного видео
    - Multi-variant HLS с разными качествами (360p, 720p, 1080p)
    - Автоматическое создание thumbnail и HLS сегментов
    - Асинхронная обработка видео с отслеживанием статуса
    - WebRTC интеграция для live streaming
    - Система заявок и предложений
    - Чаты и групповые чаты
    - Каналы и подписки
    - Система уведомлений
    - Звонки и голосовые комнаты
    - AR/3D модели
    - Аналитика и геймификация
    
    ## Rate Limiting:
    - HLS endpoints: 100 запросов/минуту на пользователя
    - Live streaming: 10 запросов/минуту на пользователя
    - Thumbnail: 200 запросов/минуту на пользователя
    - Общие API: 1000 запросов/минуту на пользователя
    
  version: 2.4.0
  contact:
    name: MebelPlace Support
    email: support@mebelplace.com.kz
  license:
    name: Proprietary

servers:
  - url: https://mebelplace.com.kz/api/v2
    description: Production server
  - url: http://localhost:8080/api/v2
    description: Development server

tags:
  - name: System
    description: Системные эндпоинты
  - name: Authentication
    description: Аутентификация и регистрация
  - name: Users
    description: Управление пользователями
  - name: Videos
    description: Видео контент
  - name: Requests
    description: Заявки и предложения
  - name: Chats
    description: Чаты и сообщения
  - name: Channels
    description: Каналы и подписки
  - name: Notifications
    description: Уведомления
  - name: Calls
    description: Звонки и голосовые комнаты
  - name: Analytics
    description: Аналитика
  - name: Admin
    description: Административные функции
  - name: Stories
    description: Истории (временный контент)
  - name: Group Chats
    description: Групповые чаты
  - name: Written Channels
    description: Письменные каналы
  - name: Support
    description: Система поддержки
  - name: Comments
    description: Комментарии
  - name: Gamification
    description: Геймификация и достижения
  - name: AR/3D Models
    description: AR и 3D модели
  - name: Maps
    description: Карты и геолокация
  - name: Integrations
    description: Интеграции с внешними сервисами
  - name: Referrals
    description: Реферальная система
  - name: Live Streams
    description: Прямые трансляции
  - name: Voice Rooms
    description: Голосовые комнаты
  - name: HLS Streaming
    description: HTTP Live Streaming для видео
  - name: WebRTC
    description: WebRTC signaling и real-time коммуникация
  - name: WebSocket
    description: WebSocket соединения для real-time данных
  - name: AI
    description: AI анализ и машинное обучение
  - name: Payments
    description: Платежи и монетизация

security:
  - BearerAuth: []

paths:
  # Rate Limiting
  /ratelimit/status:
    get:
      tags: [System]
      summary: Статус Rate Limiting
      description: Получить информацию о текущих лимитах запросов
      responses:
        '200':
          description: Статус Rate Limiting
          content:
            application/json:
              schema:
                type: object
                properties:
                  api_limit:
                    type: object
                    properties:
                      current:
                        type: integer
                        description: Текущее количество запросов
                      limit:
                        type: integer
                        description: Лимит запросов
                      remaining:
                        type: integer
                        description: Оставшиеся запросы
                      reset_time:
                        type: string
                        format: date-time
                        description: Время сброса лимита
                  general_limit:
                    type: object
                    properties:
                      current:
                        type: integer
                      limit:
                        type: integer
                      remaining:
                        type: integer
                      reset_time:
                        type: string
                        format: date-time
          headers:
            X-RateLimit-Limit:
              description: Лимит запросов в минуту
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Оставшиеся запросы
              schema:
                type: integer
            X-RateLimit-Reset:
              description: Время сброса лимита (Unix timestamp)
              schema:
                type: integer

  # Системные эндпоинты
  /health:
    get:
      tags: [System]
      summary: Health Check
      description: Проверка состояния системы
      security: []
      responses:
        '200':
          description: Система работает
          content:
            application/json:
              schema:
                type: object
                properties:
                  overall_status:
                    type: string
                    example: "healthy"
                  service:
                    type: string
                    example: "mebelplace-api"
                  version:
                    type: string
                    example: "1.0.0"
                  timestamp:
                    type: string
                    format: date-time
                  components:
                    type: object
                    properties:
                      database:
                        type: object
                        properties:
                          status:
                            type: string
                            example: "healthy"
                          error:
                            type: boolean
                            example: false
                          message:
                            type: string
                            example: "OK"
                      redis:
                        type: object
                        properties:
                          status:
                            type: string
                            example: "healthy"
                          error:
                            type: boolean
                            example: false
                          message:
                            type: string
                            example: "OK"

  /live:
    get:
      tags: [System]
      summary: Liveness Probe
      description: Проверка жизнеспособности приложения
      security: []
      responses:
        '200':
          description: Приложение живо
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "alive"
                  timestamp:
                    type: string
                    format: date-time

  /ready:
    get:
      tags: [System]
      summary: Readiness Probe
      description: Проверка готовности приложения
      security: []
      responses:
        '200':
          description: Приложение готово
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ready"
                  timestamp:
                    type: string
                    format: date-time

  /metrics:
    get:
      tags: [System]
      summary: Prometheus Metrics
      description: Метрики для Prometheus
      security: []
      responses:
        '200':
          description: Метрики в формате Prometheus
          content:
            text/plain:
              schema:
                type: string

  # Аутентификация
  /auth/register:
    post:
      tags: [Authentication]
      summary: Регистрация пользователя
      description: Регистрация нового пользователя по телефону или email
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email_or_phone
                - password
              properties:
                email_or_phone:
                  type: string
                  description: Email или номер телефона
                  example: "+77777777777"
                password:
                  type: string
                  description: Пароль
                  minLength: 6
                  example: "password123"
                username:
                  type: string
                  description: Имя пользователя (опционально)
                  example: "john_doe"
      responses:
        '200':
          description: Успешная регистрация
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JWT токен
                  access_token:
                    type: string
                    description: Access токен
                  refresh_token:
                    type: string
                    description: Refresh токен
                  expires_in:
                    type: integer
                    description: Время жизни токена в секундах
                    example: 3600
                  user:
                    $ref: '#/components/schemas/User'
        '400':
          description: Ошибка валидации
        '409':
          description: Пользователь уже существует

  /auth/verify-sms:
    post:
      tags: [Authentication]
      summary: Подтверждение SMS
      description: Подтверждение номера телефона через SMS код
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - code
              properties:
                phone:
                  type: string
                  example: "+77777777777"
                code:
                  type: string
                  example: "1234"
      responses:
        '200':
          description: SMS подтвержден
        '400':
          description: Неверный код

  /auth/verify-email:
    post:
      tags: [Authentication]
      summary: Подтверждение Email
      description: Подтверждение email адреса
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - code
              properties:
                email:
                  type: string
                  format: email
                  example: "user@example.com"
                code:
                  type: string
                  example: "123456"
      responses:
        '200':
          description: Email подтвержден
        '400':
          description: Неверный код

  /auth/login:
    post:
      tags: [Authentication]
      summary: Вход в систему
      description: Аутентификация пользователя
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email_or_phone
                - password
              properties:
                email_or_phone:
                  type: string
                  example: "+77777777777"
                password:
                  type: string
                  example: "password123"
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  expires_in:
                    type: integer
                    example: 3600
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Неверные учетные данные

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Обновление токена
      description: Обновление access токена с помощью refresh токена
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Токен обновлен
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  access_token:
                    type: string
                  expires_in:
                    type: integer
                    example: 3600
        '401':
          description: Неверный refresh токен

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Выход из системы
      description: Выход пользователя из системы
      responses:
        '200':
          description: Успешный выход
        '401':
          description: Неавторизован

  # Пользователи
  /users/me:
    get:
      tags: [Users]
      summary: Получить профиль
      description: Получить информацию о текущем пользователе
      responses:
        '200':
          description: Профиль пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Неавторизован

    put:
      tags: [Users]
      summary: Обновить профиль
      description: Обновить информацию профиля
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                email:
                  type: string
                  format: email
                phone:
                  type: string
                bio:
                  type: string
      responses:
        '200':
          description: Профиль обновлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Неавторизован

  /users/me/avatar:
    post:
      tags: [Users]
      summary: Загрузить аватар
      description: Загрузка аватара пользователя
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
                  description: Файл аватара
      responses:
        '200':
          description: Аватар загружен
          content:
            application/json:
              schema:
                type: object
                properties:
                  avatar_url:
                    type: string
                    example: "https://mebelplace.com.kz/uploads/avatars/user_1.jpg"
        '401':
          description: Неавторизован
        '400':
          description: Неверный формат файла

  /users/{id}:
    get:
      tags: [Users]
      summary: Получить пользователя по ID
      description: Получить публичную информацию о пользователе
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
      responses:
        '200':
          description: Информация о пользователе
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicUser'
        '404':
          description: Пользователь не найден

  /users/{id}/block:
    post:
      tags: [Users]
      summary: Заблокировать пользователя
      description: Заблокировать пользователя
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Пользователь заблокирован
        '401':
          description: Неавторизован

    delete:
      tags: [Users]
      summary: Разблокировать пользователя
      description: Разблокировать пользователя
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Пользователь разблокирован
        '401':
          description: Неавторизован

  /users/blocked:
    get:
      tags: [Users]
      summary: Получить заблокированных пользователей
      description: Получить список заблокированных пользователей
      responses:
        '200':
          description: Список заблокированных пользователей
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicUser'

  # Видео
  /videos/{id}:
    get:
      tags: [Videos]
      summary: Детали видео
      description: Получить детальную информацию о конкретном видео
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Детали видео
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
        '404':
          $ref: '#/components/responses/NotFound'

  /videos/feed:
    get:
      tags: [Videos]
      summary: Лента видео
      description: Получить ленту видео
      security: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: user_id
          in: query
          schema:
            type: integer
            description: Фильтр по пользователю
      responses:
        '200':
          description: Лента видео
          content:
            application/json:
              schema:
                type: object
                properties:
                  videos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Video'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /videos/upload:
    post:
      tags: [Videos]
      summary: Загрузить видео
      description: Загрузка нового видео
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - video
                - title
              properties:
                video:
                  type: string
                  format: binary
                  description: Файл видео
                title:
                  type: string
                  description: Заголовок видео
                description:
                  type: string
                  description: Описание видео
                hashtags:
                  type: array
                  items:
                    type: string
                  description: Хештеги
                is_product:
                  type: boolean
                  description: Является ли видео товаром
                product_price:
                  type: number
                  description: Цена товара
                product_description:
                  type: string
                  description: Описание товара
      responses:
        '200':
          description: Видео загружено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Video'
        '401':
          description: Неавторизован
        '400':
          description: Ошибка загрузки

  /videos/{id}/like:
    post:
      tags: [Videos]
      summary: Лайкнуть видео
      description: Поставить лайк видео
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Лайк поставлен
        '401':
          description: Неавторизован

  /videos/{id}/unlike:
    post:
      tags: [Videos]
      summary: Убрать лайк
      description: Убрать лайк с видео
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Лайк убран
        '401':
          description: Неавторизован

  /videos/{id}/comments:
    get:
      tags: [Videos]
      summary: Получить комментарии к видео
      description: Получить комментарии к видео
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Комментарии к видео
          content:
            application/json:
              schema:
                type: object
                properties:
                  comments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Videos]
      summary: Добавить комментарий
      description: Добавить комментарий к видео
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: Текст комментария
                parent_id:
                  type: integer
                  description: ID родительского комментария (для ответа)
      responses:
        '200':
          description: Комментарий добавлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '401':
          description: Неавторизован

  # Заявки
  /requests:
    get:
      tags: [Requests]
      summary: Получить заявки
      description: Получить список заявок
      security: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: category
          in: query
          schema:
            type: string
        - name: region
          in: query
          schema:
            type: string
        - name: budget_min
          in: query
          schema:
            type: number
        - name: budget_max
          in: query
          schema:
            type: number
      responses:
        '200':
          description: Список заявок
          content:
            application/json:
              schema:
                type: object
                properties:
                  requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/Request'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Requests]
      summary: Создать заявку
      description: Создать новую заявку
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - description
                - category
              properties:
                title:
                  type: string
                  description: Заголовок заявки
                description:
                  type: string
                  description: Описание заявки
                category:
                  type: string
                  description: Категория мебели
                budget:
                  type: number
                  description: Бюджет
                region:
                  type: string
                  description: Регион
                photos:
                  type: array
                  items:
                    type: string
                  description: Фотографии
      responses:
        '200':
          description: Заявка создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
        '401':
          description: Неавторизован

  /requests/{id}:
    get:
      tags: [Requests]
      summary: Получить заявку по ID
      description: Получить детали заявки
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Детали заявки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
        '404':
          description: Заявка не найдена

  /requests/{id}/proposals:
    get:
      tags: [Requests]
      summary: Получить предложения к заявке
      description: Получить предложения к заявке
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Предложения к заявке
          content:
            application/json:
              schema:
                type: object
                properties:
                  proposals:
                    type: array
                    items:
                      $ref: '#/components/schemas/Proposal'

    post:
      tags: [Requests]
      summary: Создать предложение
      description: Создать предложение к заявке
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
                - price
              properties:
                message:
                  type: string
                  description: Сообщение предложения
                price:
                  type: number
                  description: Цена предложения
                photos:
                  type: array
                  items:
                    type: string
                  description: Фотографии товара
      responses:
        '200':
          description: Предложение создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Proposal'
        '401':
          description: Неавторизован

  /requests/{id}/proposals/{proposal_id}/accept:
    post:
      tags: [Requests]
      summary: Принять предложение
      description: Принять предложение к заявке
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: proposal_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Предложение принято
        '401':
          description: Неавторизован

  # Чаты
  /chats:
    get:
      tags: [Chats]
      summary: Получить чаты
      description: Получить список чатов пользователя
      responses:
        '200':
          description: Список чатов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Chat'

    post:
      tags: [Chats]
      summary: Создать чат
      description: Создать новый чат
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
              properties:
                user_id:
                  type: integer
                  description: ID пользователя для чата
      responses:
        '200':
          description: Чат создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'

  /chats/{id}/messages:
    get:
      tags: [Chats]
      summary: Получить сообщения чата
      description: Получить сообщения чата
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Сообщения чата
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Chats]
      summary: Отправить сообщение
      description: Отправить сообщение в чат
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: Текст сообщения
                type:
                  type: string
                  enum: [text, image, video, file]
                  default: text
                file_url:
                  type: string
                  description: URL файла (для файловых сообщений)
      responses:
        '200':
          description: Сообщение отправлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'

  # Каналы
  /channels:
    get:
      tags: [Channels]
      summary: Получить каналы
      description: Получить список каналов
      security: []
      responses:
        '200':
          description: Список каналов
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Channel'

  /channels/{id}/posts:
    get:
      tags: [Channels]
      summary: Получить посты канала
      description: Получить посты канала
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Посты канала
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelPost'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Channels]
      summary: Создать пост в канале
      description: Создать пост в канале
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  description: Содержимое поста
                media_urls:
                  type: array
                  items:
                    type: string
                  description: URL медиа файлов
      responses:
        '200':
          description: Пост создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelPost'

  /channels/{id}/subscribe:
    post:
      tags: [Channels]
      summary: Подписаться на канал
      description: Подписаться на канал
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Подписка создана
        '401':
          description: Неавторизован

  /channels/{id}/unsubscribe:
    post:
      tags: [Channels]
      summary: Отписаться от канала
      description: Отписаться от канала
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Подписка удалена
        '401':
          description: Неавторизован

  # Подписки
  /subscriptions/{channel_id}:
    post:
      tags: [Channels]
      summary: Подписаться на канал
      description: Подписаться на канал с настройками уведомлений
      parameters:
        - name: channel_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: "ID канала для подписки"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        '200':
          description: Подписка создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelSubscription'
        '401':
          description: Неавторизован
        '404':
          description: Канал не найден

    delete:
      tags: [Channels]
      summary: Отписаться от канала
      description: Отписаться от канала
      parameters:
        - name: channel_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: "ID канала для отписки"
      responses:
        '200':
          description: Подписка удалена
        '401':
          description: Неавторизован
        '404':
          description: Подписка не найдена

  /subscriptions/my:
    get:
      tags: [Channels]
      summary: Мои подписки
      description: Получить мои подписки на каналы
      parameters:
        - name: level
          in: query
          schema:
            type: string
            enum: [all, important, off]
          description: "Фильтр по уровню уведомлений"
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Список подписок
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscriptions:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelSubscription'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          description: Неавторизован

  # Поиск
  /search:
    get:
      tags: [Users]
      summary: Универсальный поиск
      description: Поиск по пользователям, видео, заявкам
      security: []
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Поисковый запрос
        - name: type
          in: query
          schema:
            type: string
            enum: [all, users, videos, requests]
            default: all
          description: Тип поиска
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Результаты поиска
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicUser'
                  videos:
                    type: array
                    items:
                      $ref: '#/components/schemas/Video'
                  requests:
                    type: array
                    items:
                      $ref: '#/components/schemas/Request'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /search/users:
    get:
      tags: [Users]
      summary: Поиск пользователей
      description: Поиск пользователей
      security: []
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Результаты поиска пользователей
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicUser'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /search/masters:
    get:
      tags: [Users]
      summary: Поиск мастеров
      description: Поиск мастеров с фильтром по локации
      security: []
      parameters:
        - name: q
          in: query
          schema:
            type: string
        - name: region
          in: query
          schema:
            type: string
        - name: category
          in: query
          schema:
            type: string
        - name: lat
          in: query
          schema:
            type: number
          description: Широта для поиска по геолокации
        - name: lng
          in: query
          schema:
            type: number
          description: Долгота для поиска по геолокации
        - name: radius
          in: query
          schema:
            type: number
            default: 50
          description: Радиус поиска в км
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Результаты поиска мастеров
          content:
            application/json:
              schema:
                type: object
                properties:
                  masters:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicUser'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  # Уведомления
  /notifications:
    get:
      tags: [Notifications]
      summary: Получить уведомления
      description: Получить уведомления пользователя
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: type
          in: query
          schema:
            type: string
            enum: [video.published, stream.started, story.published, request.proposal, comment.created, chat.message, achievement.earned, all]
            default: all
          description: "Фильтр по типу уведомления"
      responses:
        '200':
          description: Список уведомлений
          content:
            application/json:
              schema:
                type: object
                properties:
                  notifications:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /notifications/{id}/read:
    post:
      tags: [Notifications]
      summary: Отметить уведомление как прочитанное
      description: Отметить уведомление как прочитанное
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Уведомление отмечено как прочитанное
        '401':
          description: Неавторизован

  /notifications/read-all:
    post:
      tags: [Notifications]
      summary: Отметить все уведомления как прочитанные
      description: Отметить все уведомления как прочитанные
      responses:
        '200':
          description: Все уведомления отмечены как прочитанные
        '401':
          description: Неавторизован

  /notifications/settings:
    get:
      tags: [Notifications]
      summary: Получить настройки уведомлений
      description: Получить настройки уведомлений пользователя
      responses:
        '200':
          description: Настройки уведомлений
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSettings'

    post:
      tags: [Notifications]
      summary: Обновить настройки уведомлений
      description: Обновить настройки уведомлений
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationSettings'
      responses:
        '200':
          description: Настройки обновлены
        '401':
          description: Неавторизован

  /notifications/push-token:
    post:
      tags: [Notifications]
      summary: Обновить push токен
      description: Обновить push токен для уведомлений
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: Push токен
                platform:
                  type: string
                  enum: [ios, android, web]
                  description: Платформа
      responses:
        '200':
          description: Push токен обновлен
        '401':
          description: Неавторизован

  # Истории
  /stories:
    get:
      tags: [Stories]
      summary: Получить истории
      description: Получить ленту историй пользователей
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Лента историй
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Story'

    post:
      tags: [Stories]
      summary: Создать историю
      description: Создать новую историю (изображение/видео/голос)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Файл истории
                media_type:
                  type: string
                  enum: [image, video, voice]
                  description: Тип медиа
                caption:
                  type: string
                  description: Подпись к истории
                background_color:
                  type: string
                  description: Цвет фона
                location:
                  type: string
                  description: Местоположение
                is_pinned:
                  type: boolean
                  description: Закрепить историю
      responses:
        '201':
          description: История создана
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  message:
                    type: string
        '401':
          description: Неавторизован
        '400':
          description: Ошибка валидации

  /stories/{id}/view:
    post:
      tags: [Stories]
      summary: Просмотреть историю
      description: Отметить историю как просмотренную
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: История отмечена как просмотренная
        '401':
          description: Неавторизован

  /stories/{id}:
    get:
      tags: [Stories]
      summary: Детали истории
      description: Получить детальную информацию о конкретной истории
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Детали истории
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Story'
        '404':
          $ref: '#/components/responses/NotFound'

  /stories/{id}/like:
    post:
      tags: [Stories]
      summary: Лайкнуть историю
      description: Поставить лайк истории
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Лайк поставлен
        '401':
          description: Неавторизован

  # Групповые чаты
  /group-chats:
    get:
      tags: [Group Chats]
      summary: Получить мои групповые чаты
      description: Получить список групповых чатов пользователя
      responses:
        '200':
          description: Список групповых чатов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupChat'

    post:
      tags: [Group Chats]
      summary: Создать групповой чат
      description: Создать новый групповой чат
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Название чата
                description:
                  type: string
                  description: Описание чата
                is_public:
                  type: boolean
                  description: Публичный чат
                max_members:
                  type: integer
                  description: Максимальное количество участников
      responses:
        '201':
          description: Групповой чат создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupChat'
        '401':
          description: Неавторизован

  /group-chats/{id}:
    get:
      tags: [Group Chats]
      summary: Получить групповой чат
      description: Получить информацию о групповом чате
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Информация о групповом чате
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupChat'
        '404':
          description: Чат не найден

  /group-chats/{id}/members:
    get:
      tags: [Group Chats]
      summary: Получить участников чата
      description: Получить список участников группового чата
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Список участников
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicUser'

    post:
      tags: [Group Chats]
      summary: Добавить участника
      description: Добавить участника в групповой чат
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
              properties:
                user_id:
                  type: integer
                  description: ID пользователя
      responses:
        '200':
          description: Участник добавлен
        '401':
          description: Неавторизован

  /group-chats/{id}/messages:
    get:
      tags: [Group Chats]
      summary: Получить сообщения группового чата
      description: Получить сообщения группового чата
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Сообщения чата
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Message'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Group Chats]
      summary: Отправить сообщение в групповой чат
      description: Отправить сообщение в групповой чат
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: Текст сообщения
                type:
                  type: string
                  enum: [text, image, video, file]
                  default: text
                file_url:
                  type: string
                  description: URL файла
      responses:
        '200':
          description: Сообщение отправлено
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'

  /group-chats/{id}/leave:
    post:
      tags: [Group Chats]
      summary: Покинуть групповой чат
      description: Покинуть групповой чат
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Пользователь покинул чат
        '401':
          description: Неавторизован

  # Письменные каналы
  /written-channels:
    get:
      tags: [Written Channels]
      summary: Получить письменные каналы
      description: Получить список письменных каналов
      parameters:
        - name: subscribed
          in: query
          schema:
            type: boolean
          description: Только подписанные каналы
      responses:
        '200':
          description: Список письменных каналов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WrittenChannel'

    post:
      tags: [Written Channels]
      summary: Создать письменный канал
      description: Создать новый письменный канал (только для мастеров)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Название канала
                description:
                  type: string
                  description: Описание канала
                is_public:
                  type: boolean
                  description: Публичный канал
      responses:
        '201':
          description: Канал создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WrittenChannel'
        '401':
          description: Неавторизован
        '403':
          description: Только для мастеров

  /written-channels/{id}/subscribe:
    post:
      tags: [Written Channels]
      summary: Подписаться на письменный канал
      description: Подписаться на письменный канал
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Подписка создана
        '401':
          description: Неавторизован

  /written-channels/{id}/unsubscribe:
    post:
      tags: [Written Channels]
      summary: Отписаться от письменного канала
      description: Отписаться от письменного канала
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Подписка удалена
        '401':
          description: Неавторизован

  /written-channels/{id}/posts:
    get:
      tags: [Written Channels]
      summary: Получить посты письменного канала
      description: Получить посты письменного канала
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Посты канала
          content:
            application/json:
              schema:
                type: object
                properties:
                  posts:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChannelPost'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      tags: [Written Channels]
      summary: Создать пост в письменном канале
      description: Создать пост в письменном канале
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - content
              properties:
                content:
                  type: string
                  description: Содержимое поста
                media_urls:
                  type: array
                  items:
                    type: string
                  description: URL медиа файлов
      responses:
        '201':
          description: Пост создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelPost'
        '401':
          description: Неавторизован

  # Система поддержки
  /support/tickets:
    get:
      tags: [Support]
      summary: Получить тикеты поддержки
      description: Получить тикеты поддержки пользователя
      responses:
        '200':
          description: Список тикетов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupportTicket'

    post:
      tags: [Support]
      summary: Создать тикет поддержки
      description: Создать новый тикет поддержки
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - subject
                - message
              properties:
                subject:
                  type: string
                  description: Тема тикета
                message:
                  type: string
                  description: Сообщение
                priority:
                  type: string
                  enum: [low, medium, high, urgent]
                  default: medium
      responses:
        '201':
          description: Тикет создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupportTicket'
        '401':
          description: Неавторизован

  /support/tickets/{id}/replies:
    post:
      tags: [Support]
      summary: Создать ответ на тикет
      description: Создать ответ на тикет поддержки
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  description: Сообщение ответа
      responses:
        '201':
          description: Ответ создан
        '401':
          description: Неавторизован

  # Комментарии
  /comments/{id}/like:
    post:
      tags: [Comments]
      summary: Лайкнуть комментарий
      description: Поставить лайк комментарию
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Лайк поставлен
        '401':
          description: Неавторизован

  /comments/{id}/reply:
    post:
      tags: [Comments]
      summary: Ответить на комментарий
      description: Ответить на комментарий
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
              properties:
                text:
                  type: string
                  description: Текст ответа
      responses:
        '201':
          description: Ответ создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
        '401':
          description: Неавторизован

  /comments/{id}/replies:
    get:
      tags: [Comments]
      summary: Получить ответы на комментарий
      description: Получить ответы на комментарий
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Ответы на комментарий
          content:
            application/json:
              schema:
                type: object
                properties:
                  replies:
                    type: array
                    items:
                      $ref: '#/components/schemas/Comment'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /comments/{id}:
    delete:
      tags: [Comments]
      summary: Удалить комментарий
      description: Удалить комментарий
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Комментарий удален
        '401':
          description: Неавторизован

  # Геймификация
  /gamification/level:
    get:
      tags: [Gamification]
      summary: Получить уровень пользователя
      description: Получить текущий уровень и прогресс пользователя
      responses:
        '200':
          description: Уровень пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserLevel'
        '401':
          description: Неавторизован

  /gamification/achievements:
    get:
      tags: [Gamification]
      summary: Получить достижения пользователя
      description: Получить список достижений пользователя
      responses:
        '200':
          description: Список достижений
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Achievement'
        '401':
          description: Неавторизован

  /gamification/leaderboard:
    get:
      tags: [Gamification]
      summary: Получить таблицу лидеров
      description: Получить таблицу лидеров по очкам
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Таблица лидеров
          content:
            application/json:
              schema:
                type: object
                properties:
                  leaderboard:
                    type: array
                    items:
                      $ref: '#/components/schemas/LeaderboardEntry'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /gamification/award-points:
    post:
      tags: [Gamification]
      summary: Начислить очки
      description: Начислить очки пользователю (админ функция)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
                - points
                - reason
              properties:
                user_id:
                  type: integer
                  description: ID пользователя
                points:
                  type: integer
                  description: Количество очков
                reason:
                  type: string
                  description: Причина начисления
      responses:
        '200':
          description: Очки начислены
        '401':
          description: Неавторизован

  # AR/3D модели
  /ar3d/models:
    post:
      tags: [AR/3D Models]
      summary: Загрузить 3D модель
      description: Загрузить 3D модель для AR
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - model_file
                - product_id
              properties:
                model_file:
                  type: string
                  format: binary
                  description: Файл 3D модели
                product_id:
                  type: integer
                  description: ID продукта
                preview_image:
                  type: string
                  format: binary
                  description: Превью изображение
      responses:
        '201':
          description: 3D модель загружена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AR3DModel'
        '401':
          description: Неавторизован
        '400':
          description: Ошибка загрузки

  /ar3d/models/{product_id}:
    get:
      tags: [AR/3D Models]
      summary: Получить 3D модели продукта
      description: Получить 3D модели для продукта
      parameters:
        - name: product_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: 3D модели продукта
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AR3DModel'

  # Карты и геолокация
  /maps/masters:
    get:
      tags: [Maps]
      summary: Получить мастеров на карте
      description: Получить мастеров с геолокацией
      parameters:
        - name: lat
          in: query
          schema:
            type: number
          description: Широта
        - name: lng
          in: query
          schema:
            type: number
          description: Долгота
        - name: radius
          in: query
          schema:
            type: number
            default: 50
          description: Радиус поиска в км
        - name: category
          in: query
          schema:
            type: string
          description: Категория услуг
      responses:
        '200':
          description: Список мастеров на карте
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MasterOnMap'

  /maps/location:
    post:
      tags: [Maps]
      summary: Обновить местоположение
      description: Обновить текущее местоположение пользователя
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - latitude
                - longitude
              properties:
                latitude:
                  type: number
                  description: Широта
                longitude:
                  type: number
                  description: Долгота
                address:
                  type: string
                  description: Адрес
      responses:
        '200':
          description: Местоположение обновлено
        '401':
          description: Неавторизован

  # Интеграции
  /integrations/payments/connect:
    post:
      tags: [Integrations]
      summary: Подключить платежного провайдера
      description: Подключить платежного провайдера
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - provider
                - credentials
              properties:
                provider:
                  type: string
                  enum: [kaspi, halyk, alipay, wechat]
                  description: Провайдер платежей
                credentials:
                  type: object
                  description: Учетные данные провайдера
      responses:
        '200':
          description: Провайдер подключен
        '401':
          description: Неавторизован

  /integrations/payments/providers:
    get:
      tags: [Integrations]
      summary: Получить подключенных провайдеров
      description: Получить список подключенных платежных провайдеров
      responses:
        '200':
          description: Список провайдеров
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentProvider'
        '401':
          description: Неавторизован

  # Реферальная система
  /referrals/apply:
    post:
      tags: [Referrals]
      summary: Применить реферальный код
      description: Применить реферальный код
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
              properties:
                code:
                  type: string
                  description: Реферальный код
      responses:
        '200':
          description: Код применен
        '400':
          description: Неверный код

  /referrals/generate:
    post:
      tags: [Referrals]
      summary: Сгенерировать реферальный код
      description: Сгенерировать реферальный код для пользователя
      responses:
        '200':
          description: Код сгенерирован
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: Реферальный код
        '401':
          description: Неавторизован

  /referrals/stats:
    get:
      tags: [Referrals]
      summary: Получить статистику рефералов
      description: Получить статистику рефералов пользователя
      responses:
        '200':
          description: Статистика рефералов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReferralStats'
        '401':
          description: Неавторизован

  # Прямые трансляции
  /livestreams/active:
    get:
      tags: [Live Streams]
      summary: Получить активные трансляции
      description: Получить список активных прямых трансляций
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Список активных трансляций
          content:
            application/json:
              schema:
                type: object
                properties:
                  streams:
                    type: array
                    items:
                      $ref: '#/components/schemas/LiveStream'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /livestreams/start:
    post:
      tags: [Live Streams]
      summary: Начать прямую трансляцию
      description: Начать новую прямую трансляцию
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
              properties:
                title:
                  type: string
                  description: Название трансляции
                description:
                  type: string
                  description: Описание трансляции
                is_public:
                  type: boolean
                  description: Публичная трансляция
      responses:
        '201':
          description: Трансляция начата
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStream'
        '401':
          description: Неавторизован

  /livestreams/{stream_id}/end:
    post:
      tags: [Live Streams]
      summary: Завершить прямую трансляцию
      description: Завершить прямую трансляцию
      parameters:
        - name: stream_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Трансляция завершена
        '401':
          description: Неавторизован

  # Голосовые комнаты
  /voicerooms/create:
    post:
      tags: [Voice Rooms]
      summary: Создать голосовую комнату
      description: Создать новую голосовую комнату
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Название комнаты
                description:
                  type: string
                  description: Описание комнаты
                max_participants:
                  type: integer
                  description: Максимальное количество участников
                is_public:
                  type: boolean
                  description: Публичная комната
      responses:
        '201':
          description: Голосовая комната создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceRoom'
        '401':
          description: Неавторизован

  /voicerooms/{room_id}:
    get:
      tags: [Voice Rooms]
      summary: Информация о голосовой комнате
      description: Получить информацию о голосовой комнате
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Информация о голосовой комнате
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceRoom'
        '404':
          $ref: '#/components/responses/NotFound'

  /voicerooms/{room_id}/join:
    post:
      tags: [Voice Rooms]
      summary: Присоединиться к голосовой комнате
      description: Присоединиться к голосовой комнате
      parameters:
        - name: room_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Присоединились к комнате
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: Токен для подключения
                  room_info:
                    $ref: '#/components/schemas/VoiceRoom'
        '401':
          description: Неавторизован

  # Звонки
  /calls/initiate:
    post:
      tags: [Calls]
      summary: Инициировать звонок
      description: Инициировать звонок с другим пользователем
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
              properties:
                user_id:
                  type: integer
                  description: ID пользователя для звонка
                type:
                  type: string
                  enum: [audio, video]
                  default: audio
                  description: Тип звонка
      responses:
        '200':
          description: Звонок инициирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
        '401':
          description: Неавторизован

  /calls/initiate-secure:
    post:
      tags: [Calls]
      summary: Инициировать безопасный звонок
      description: Инициировать звонок с дополнительными ограничениями
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
              properties:
                user_id:
                  type: integer
                  description: ID пользователя для звонка
                type:
                  type: string
                  enum: [audio, video]
                  default: audio
                  description: Тип звонка
                restrictions:
                  type: object
                  properties:
                    max_duration:
                      type: integer
                      description: Максимальная длительность в минутах
                    require_verification:
                      type: boolean
                      description: Требовать верификацию
      responses:
        '200':
          description: Безопасный звонок инициирован
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Call'
        '401':
          description: Неавторизован

  /calls/{id}/answer:
    post:
      tags: [Calls]
      summary: Ответить на звонок
      description: Ответить на входящий звонок
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Звонок принят
        '401':
          description: Неавторизован

  /calls/{id}/end:
    post:
      tags: [Calls]
      summary: Завершить звонок
      description: Завершить активный звонок
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Звонок завершен
        '401':
          description: Неавторизован

  /calls/{id}/cancel:
    post:
      tags: [Calls]
      summary: Отменить звонок
      description: Отменить звонок
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Звонок отменен
        '401':
          description: Неавторизован

  /calls/history:
    get:
      tags: [Calls]
      summary: История звонков
      description: Получить историю звонков пользователя
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: История звонков
          content:
            application/json:
              schema:
                type: object
                properties:
                  calls:
                    type: array
                    items:
                      $ref: '#/components/schemas/Call'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /calls/active:
    get:
      tags: [Calls]
      summary: Активные звонки
      description: Получить активные звонки пользователя
      responses:
        '200':
          description: Активные звонки
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Call'

  /calls/{id}/webrtc-token:
    get:
      tags: [Calls]
      summary: Получить WebRTC токен
      description: Получить токен для WebRTC соединения
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: WebRTC токен
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: WebRTC токен
                  ice_servers:
                    type: array
                    items:
                      type: object
                      properties:
                        urls:
                          type: array
                          items:
                            type: string
                        username:
                          type: string
                        credential:
                          type: string

  /calls/statistics:
    get:
      tags: [Calls]
      summary: Статистика звонков
      description: Получить статистику звонков пользователя
      responses:
        '200':
          description: Статистика звонков
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_calls:
                    type: integer
                  total_duration:
                    type: integer
                    description: Общая длительность в секундах
                  successful_calls:
                    type: integer
                  failed_calls:
                    type: integer

  /calls/{id}/webrtc-token-enhanced:
    get:
      tags: [Calls]
      summary: Получить расширенный WebRTC токен
      description: Получить расширенный токен для WebRTC соединения
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Расширенный WebRTC токен
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: WebRTC токен
                  ice_servers:
                    type: array
                    items:
                      type: object
                      properties:
                        urls:
                          type: array
                          items:
                            type: string
                        username:
                          type: string
                        credential:
                          type: string
                  turn_servers:
                    type: array
                    items:
                      type: object
                      properties:
                        urls:
                          type: array
                          items:
                            type: string
                        username:
                          type: string
                        credential:
                          type: string

  /calls/validate-token:
    post:
      tags: [Calls]
      summary: Валидировать WebRTC токен
      description: Валидировать WebRTC токен
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: WebRTC токен для валидации
      responses:
        '200':
          description: Токен валиден
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                  expires_at:
                    type: string
                    format: date-time
        '400':
          description: Неверный токен

  /calls/{id}/notify:
    post:
      tags: [Calls]
      summary: Отправить уведомление о звонке
      description: Отправить уведомление о звонке пользователю
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  description: Сообщение уведомления
                type:
                  type: string
                  enum: [incoming_call, call_ended, call_failed]
                  description: Тип уведомления
      responses:
        '200':
          description: Уведомление отправлено
        '401':
          description: Неавторизован

  # Аналитика
  /analytics/user:
    get:
      tags: [Analytics]
      summary: Аналитика пользователя
      description: Получить аналитику для пользователя
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [day, week, month, year]
            default: month
        - name: start_date
          in: query
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Аналитика пользователя
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAnalytics'
        '401':
          description: Неавторизован

  /analytics/platform:
    get:
      tags: [Analytics]
      summary: Аналитика платформы
      description: Получить общую аналитику платформы
      responses:
        '200':
          description: Аналитика платформы
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformAnalytics'
        '401':
          description: Неавторизован
        '403':
          description: Недостаточно прав

  /analytics/revenue:
    get:
      tags: [Analytics]
      summary: Аналитика доходов
      description: Получить аналитику доходов
      responses:
        '200':
          description: Аналитика доходов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueAnalytics'
        '401':
          description: Неавторизован
        '403':
          description: Недостаточно прав

  /analytics/engagement:
    get:
      tags: [Analytics]
      summary: Метрики вовлеченности
      description: Получить метрики вовлеченности пользователей
      responses:
        '200':
          description: Метрики вовлеченности
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngagementMetrics'
        '401':
          description: Неавторизован

  # Админ панель
  /admin/support/tickets:
    get:
      tags: [Admin]
      summary: Получить все тикеты поддержки
      description: Получить все тикеты поддержки (только для админов)
      responses:
        '200':
          description: Список тикетов
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SupportTicket'
        '401':
          description: Неавторизован
        '403':
          description: Недостаточно прав

  /admin/support/tickets/{id}:
    patch:
      tags: [Admin]
      summary: Обновить статус тикета
      description: Обновить статус тикета поддержки
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [open, in_progress, resolved, closed]
      responses:
        '200':
          description: Статус тикета обновлен
        '401':
          description: Неавторизован
        '403':
          description: Недостаточно прав

  /admin/support/tickets/{id}/replies:
    post:
      tags: [Admin]
      summary: Создать ответ администратора
      description: Создать ответ администратора на тикет
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  description: Сообщение ответа
      responses:
        '200':
          description: Ответ создан
        '401':
          description: Неавторизован
        '403':
          description: Недостаточно прав

  # HLS Streaming endpoints
  /hls/{video_id}/playlist.m3u8:
    get:
      tags:
        - HLS Streaming
      summary: Получить HLS плейлист для видео
      description: |
        Возвращает HLS (HTTP Live Streaming) плейлист для указанного видео.
        Если видео не было обработано в HLS формат, оно будет автоматически конвертировано.
        Требует аутентификации для приватных видео.
      security:
        - BearerAuth: []
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID видео
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: HLS плейлист
          content:
            application/vnd.apple.mpegurl:
              schema:
                type: string
                example: |
                  #EXTM3U
                  #EXT-X-VERSION:3
                  #EXT-X-TARGETDURATION:17
                  #EXT-X-MEDIA-SEQUENCE:0
                  #EXT-X-PLAYLIST-TYPE:VOD
                  #EXTINF:16.666667,
                  segment_000.ts
                  #EXTINF:8.333333,
                  segment_001.ts
                  #EXT-X-ENDLIST
        '401':
          description: Неавторизован
        '403':
          description: Доступ запрещен (видео приватное)
        '404':
          description: Видео не найдено
        '500':
          description: Ошибка обработки видео

  /hls/{video_id}/{segment}:
    get:
      tags:
        - HLS Streaming
      summary: Получить HLS сегмент
      description: |
        Возвращает HLS сегмент (TS файл) для указанного видео.
        Сегменты создаются автоматически при обработке видео в HLS формат.
        Требует аутентификации для приватных видео.
      security:
        - BearerAuth: []
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID видео
          schema:
            type: integer
            format: int64
        - name: segment
          in: path
          required: true
          description: Имя сегмента (например, segment_000.ts)
          schema:
            type: string
            pattern: '^segment_\d{3}\.ts$'
            example: segment_000.ts
      responses:
        '200':
          description: HLS сегмент
          content:
            video/mp2t:
              schema:
                type: string
                format: binary
          headers:
            Cache-Control:
              description: Кэширование сегмента
              schema:
                type: string
                example: "public, max-age=86400"
        '401':
          description: Неавторизован
        '403':
          description: Доступ запрещен (видео приватное)
        '404':
          description: Сегмент не найден
        '400':
          description: Некорректное имя сегмента

  /hls/{video_id}/thumbnail.jpg:
    get:
      tags:
        - HLS Streaming
      summary: Получить thumbnail видео
      description: |
        Возвращает thumbnail (превью) для указанного видео в формате JPEG.
        Thumbnail создается автоматически при обработке видео в HLS формат.
        Требует аутентификации для приватных видео.
      security:
        - BearerAuth: []
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID видео
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Thumbnail изображение
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
          headers:
            Cache-Control:
              description: Кэширование thumbnail
              schema:
                type: string
                example: "public, max-age=3600"
        '401':
          description: Неавторизован
        '403':
          description: Доступ запрещен (видео приватное)
        '404':
          description: Thumbnail не найден

  /hls/live/{stream_id}/playlist.m3u8:
    get:
      tags:
        - HLS Streaming
      summary: Получить HLS плейлист для live стрима
      description: |
        Возвращает HLS плейлист для live трансляции.
        Требует активного live стрима с указанным stream_id.
        Требует аутентификации для приватных стримов.
      security:
        - BearerAuth: []
      parameters:
        - name: stream_id
          in: path
          required: true
          description: ID live стрима
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Live HLS плейлист
          content:
            application/vnd.apple.mpegurl:
              schema:
                type: string
                example: |
                  #EXTM3U
                  #EXT-X-VERSION:3
                  #EXT-X-TARGETDURATION:10
                  #EXT-X-MEDIA-SEQUENCE:123
                  #EXTINF:10.0,
                  segment_123.ts
                  #EXTINF:10.0,
                  segment_124.ts
        '401':
          description: Неавторизован
        '403':
          description: Доступ запрещен (стрим приватный)
        '404':
          description: Live стрим не найден
        '500':
          description: Ошибка получения live стрима

  /hls/live/{stream_id}/{segment}:
    get:
      tags:
        - HLS Streaming
      summary: Получить HLS сегмент live стрима
      description: |
        Возвращает HLS сегмент для live трансляции.
        Сегменты создаются в реальном времени во время live стрима.
        Требует аутентификации для приватных стримов.
      security:
        - BearerAuth: []
      parameters:
        - name: stream_id
          in: path
          required: true
          description: ID live стрима
          schema:
            type: integer
            format: int64
        - name: segment
          in: path
          required: true
          description: Имя сегмента live стрима
          schema:
            type: string
            pattern: '^segment_\d{3}\.ts$'
            example: segment_123.ts
      responses:
        '200':
          description: Live HLS сегмент
          content:
            video/mp2t:
              schema:
                type: string
                format: binary
          headers:
            Cache-Control:
              description: Кэширование live сегмента
              schema:
                type: string
                example: "public, max-age=10"
        '401':
          description: Неавторизован
        '403':
          description: Доступ запрещен (стрим приватный)
        '404':
          description: Сегмент live стрима не найден
        '400':
          description: Некорректное имя сегмента

  # HLS Extensions
  /hls/{video_id}/preview.mp4:
    get:
      tags:
        - HLS Streaming
      summary: Получить анимированное превью видео
      description: |
        Возвращает анимированное превью видео в формате MP4.
        Превью создается автоматически из первых 5 секунд видео.
        Требует аутентификации для приватных видео.
      security:
        - BearerAuth: []
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID видео
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Анимированное превью видео
          content:
            video/mp4:
              schema:
                type: string
                format: binary
          headers:
            Cache-Control:
              description: Кэширование превью
              schema:
                type: string
                example: "public, max-age=3600"
        '401':
          description: Неавторизован
        '403':
          description: Доступ запрещен (видео приватное)
        '404':
          description: Видео не найдено
        '500':
          description: Ошибка создания превью

  # Multi-variant HLS endpoints
  /hls/{video_id}/master.m3u8:
    get:
      tags:
        - HLS Streaming
      summary: Получить master HLS плейлист с разными качествами
      description: |
        Возвращает master HLS плейлист с разными качествами видео (360p, 720p, 1080p).
        Клиент может выбрать подходящее качество в зависимости от пропускной способности.
        Требует аутентификации для приватных видео.
      security:
        - BearerAuth: []
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID видео
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Master HLS плейлист
          content:
            application/vnd.apple.mpegurl:
              schema:
                $ref: '#/components/schemas/HLSMasterPlaylist'
        '401':
          description: Неавторизован
        '403':
          description: Доступ запрещен (видео приватное)
        '404':
          description: Видео не найдено
        '500':
          description: Ошибка обработки видео

  # Async processing endpoints
  /hls/{video_id}/status:
    get:
      tags:
        - HLS Streaming
      summary: Получить статус обработки HLS
      description: |
        Возвращает текущий статус обработки видео в HLS формат.
        Полезно для отслеживания прогресса конвертации длинных видео.
      security:
        - BearerAuth: []
      parameters:
        - name: video_id
          in: path
          required: true
          description: ID видео
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Статус обработки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HLSProcessingStatus'
        '401':
          description: Неавторизован
        '403':
          description: Доступ запрещен
        '404':
          description: Видео не найдено

  # WebRTC integration for live streaming
  /livestreams/{stream_id}/publish:
    post:
      tags:
        - Live Streams
        - HLS Streaming
[...]
